@use './variables';

.card{
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.178);
  min-width: 300px;
}

.card__header{
  padding-bottom: 1rem;
  border-bottom: 1px solid lighten(variables.$dark, 50%);
}

.card__title{
  color: variables.$dark;
}

.card__separator{
  height: 1px;
  border-top: 1px solid black;
}

@media screen and (min-width: 650px){
  .card{
    width: 350px;
  }
}