@use './variables';
@use './button';

.form__row{
  padding: 0.5rem 0;
}

.form__label,
.form__input {
  display: block;
}

.form__label{
  padding: 0.5rem 0;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid variables.$input-border-color;
  border-radius: variables.$radius-input;
  outline: none;
  cursor: pointer;
  background: variables.$input-border-color;

  &:hover{
    border-color: variables.$star-command-blue;

  }

  &:active, &:focus{
    border-color: variables.$star-command-blue;
    box-shadow: 0 0 0px 3px lighten(variables.$star-command-blue, 50%);
    background: white;
  }
}

.form__submit{
  background: variables.$navy-blue;
  color: white;
}
