.project{
  padding: 1rem;
}

.project__info{
  padding-bottom: 1rem;
}

.project__ctas{
  padding: 0.4rem 0;
}

.project__title{
  padding: 2rem 0;
}

#add__task__btn{
  display: flex;
  align-items: center;

  .add__icon{
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.5rem;
    margin-top: -0.1rem;
  }
}
