@use '../config/reset';
@use '../config/colors';
@use '../config/variables';

.sidebar{
  background: black;
  color: white;
  width: 230px;
  padding: 1.5rem 0.8rem;
}

.user{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user__logout{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.logout__link{
  text-decoration: none;
}

.logout__btn{
  padding: 0.5rem 0.4rem 0.5rem 0;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: variables.$radius;
  display: flex;
  align-items: center;
}

.logout__btn__icon{
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  transform: rotate(180deg);
  margin: 0 0.4rem;
}

.user__name{
  padding-left: 1rem;
  font-size: 1.1rem;
}

.user__picture{
  height: 3rem;
  width: 3rem;
}

.menu{
  padding-top: 1rem;
}


.menu__link{
  display: flex;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  padding: 0.5rem;
  border-radius: variables.$radius;
  font-weight: 600;


  &.active, &:hover{
    background: colors.$background-menu-link;
  }

  .menu__link__icon{
    display: block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
  }
}
