.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}

.hidden{
  display: none;
}

.overflow-hidden{
  overflow: hidden;
}

.p-normal{
  padding: 1rem;
}