@use './variables';

.flex{
  display: flex;
}

.shadow{
  box-shadow: 0 0 3px rgb(139, 139, 139);
}

.flex-col{
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.rounded{
  border-radius: variables.$radius;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}

.hidden{
  display: none;
}

.overflow-hidden{
  overflow: hidden;
}

.p-normal{
  padding: 1rem;
}