<div class="overlay"></div>
<div class="modal">
  <div class="modal__header">
    <h2 class="modal__title">Add Task</h2>
  </div>
  <div class="modal__body">
    <input type="text" name="task-title" id="task-title" class="" required placeholder="Clean room...">
  </div>
    <div class="modal__footer">
      <button class="white">Close</button>
      <button class="black">Save Task</button>
    </div>
</div>
<div class="flex h-full">
  {{>sidebar}}
  <main class="project overflow-hidden w-full">
    <div class="project__info">
      <h1 class="project__title">Dashboard</h1>
      <div class="project__ctas">
        <button id="create__task__btn" class="black">
          <img src="../images/add_white.svg" alt="" class="add__icon">
          Add Task
        </button>
      </div>
    </div>

    <tasks-list></tasks-list>
  </main>
</div>


<script src="../js/Task.js"></script>
<script src="../js/TaskList.js" type="module"></script>
<script src="../js/dashboard.js" type="module"></script>