{{>header}}
<main class="flex flex-col flex-center">
  <div class="card">
    <div class="">
      <h1 class="card__title">Login</h1>
    </div>
    <p class="error">Error: Mail or password invalid</p>
    <div class="">
      <form action="http://localhost:3000/users/login" method="POST" class="auth-form" autocomplete="off">
        <div class="form__row">
          <label for="email" class="">Mail :</label>
          <input type="email" name="email" id="email"
            class=""
            placeholder="Enter your email" autocomplete="off" required>
        </div>
        <div class="form__row">
          <label for="pwd" class="">Password :</label>
          <input type="password" name="password" id="pwd"
            class=""
            placeholder="Enter your password" required>
        </div>
        <button type="submit" id="login-btn"
          class="black w-full">Login</button>
      </form>
      <a href="http://localhost:3000/users/signup">
        <button id="create-user-btn"
          class="white w-full">Create User</button>
      </a>
    </div>
  </div>
</main>

<script>
  const form = document.querySelector('form');
  const email = document.querySelector('#email');
  const password = document.querySelector('#pwd');
  const error = document.querySelector('.error');

  form.addEventListener('submit', (e) => {
    e.preventDefault();

    const params = {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email: email.value, password: password.value })
    }

    fetch('http://localhost:3000/users/login', params).then((res) => {
      return res.json();
    }).then(res => {
      if(!res.error){
        window.location.href = 'http://localhost:3000/dashboard';
      }else{
        error.classList.remove('hidden');
      }
    });

  })
</script>