{{>header}}
<main class="flex flex-center">
  <div class="card">
    <div class="">
      <h1 class="card__title">Create Account</h1>
    </div>
    <div class="">
      <p class="error hidden">Error: <span class="error-msg"></span></p>
      <form action="" method="POST" class="auth-form">
        <div class="form__row">
          <label for="email" class="block pb-1.5">Mail :</label>
          <input type="email" name="email" id="email" minlength="8"
            class=""
            placeholder="Enter your email" required>
        </div>
        <div class="form__row">
          <label for="pwd" class="block pb-1.5">Password :</label>
          <input type="password" name="password" id="pwd" minlength="8"
            class=""
            placeholder="Enter your password" required>
          
        </div>
        <div class="form__row">
          <label for="pwd" class="block pb-1.5">Password :</label>
          <input type="password" name="password" id="verif-pwd" minlength="8"
            class=""
            placeholder="Enter your password agin" required>
        </div>
        <button type="submit" id="login-btn"
          class="black w-full">Create
          Account</button>
      </form>
    </div>
  </div>
</main>

<script src="../js/signup.js"> </script>