<main class="w-8/12 flex flex-col mx-auto">
  <a href="http://localhost:3000/users/logout">
    <button
      class="logout-btn block bg-blue-700 text-white rounded py-2 px-4 rounded hover:bg-blue-600 cursor-pointer ml-1.5">
      logout
    </button>
  </a>
  <form class="flex p-3 items-center block">
    <div class="flex-grow">
      <input type="text"
        class="outline-none focus:ring w-full py-2 px-2 border-solid border-gray-300 border-2 rounded block focus:border-blue-500 hover:border-blue-500 "
        name="title" placeholder="Enter task title" required>
    </div>
    <button type="submit" id="create-task"
      class="block bg-blue-700 text-white rounded py-2 px-4 rounded hover:bg-blue-600 cursor-pointer ml-1.5">Add</button>
  </form>
  <ul class="task-list"></ul>
</main>





<script type="module">
  const form = document.querySelector('form');
  const input = document.querySelector('input');
  const submitBtn = document.querySelector('button');

  const logoutbtn = document.querySelector('.logout-btn');

  form.addEventListener('submit', (e) => {
    e.preventDefault();


    fetch('http://localhost:3000/tasks', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ title: input.value })
    }).then((res) => {
      return res.json();
    }).then((res) => {
      console.log(res)
    });
  })
</script>