@use '../config/variables';

input{
  display: block;
  padding: 0.5rem;
  border-radius: variables.$radius;
  border: 2px solid rgb(207, 207, 207);
  outline: none;
  width: 100%;

  &:hover, &:focus, &:active{
    border-color: black;
  }
}

.error{
  border-radius: variables.$radius;
  color:white;
  padding: 0.5rem;
  background: rgba(228, 48, 48, 0.938);
}

.form__row{
  padding: 1rem 0;
}