<header class="flex">
  <a href="http://localhost:3000/">
    <img src="../../images/logo.svg" id="brand-logo" class="" />
  </a>
  <div class="flex">
    <a href="http://localhost:3000/users/login" class="">
      <button
        class="black">Login</button>
    </a>
    <a href="http://localhost:3000/users/signup" class="">
      <button id="" class="white">Create User</button>
    </a>
  </div>
</header>