<aside class="sidebar">
  <div class="user">
    <img src="../../images/logo_light.svg" alt="" class="user__picture">
    <div class="user__name">
      Isai Boussif
    </div>
    <div class="user__logout">
      <a href="http://localhost:3000/users/logout" class="logout__link"> <button class="logout__btn">
        <img src="../../images/logout.svg" alt="" class="logout__btn__icon">
        Logout</button> </a>
    </div>
  </div>
  <nav>
    <ul class="menu">
      <li class="menu__item">
        <a href="#" class="menu__link active">
          <img src="../../images/dashboard.svg" alt="" class="menu__link__icon">
          dashboard
        </a>
      </li>
    </ul>
  </nav>
</aside>